@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    color: #777;
    box-sizing: border-box;
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: inherit;
}

a:hover {
    background-color: gray;
}

header {
    top: 0;
    position: sticky;
}

header h1 {
    padding-left: 0.5em;
}

.navegacion_temas {
    margin-bottom: 0.5em;
}

.navegacion_temas nav {
    text-align: center;
    background-color: rgb(84, 82, 82);
}

.navegacion_temas a {
    padding: 0 2%;
}

.formulario {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.formulario h2,
.formulario p,
.formulario form {
    margin: 0.5em;
}

.flexbox-container {
    display: flex;
}

.contenido {
    margin: 0.5em;
}

.navegacion-contenido {
    background-color: rgb(162, 162, 162);
    min-width: 25%;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 1em;
    margin-left: 2px;
    margin-bottom: 3px;
}

.navegacion-contenido ul {
    background-color: rgb(162, 162, 162);
    position: fixed;
}

.navegacion-contenido li {
    background-color: rgb(162, 162, 162);
    list-style: none;
}